


#header{
	/*background-color: red;*/
	margin-bottom: 10px;	
}

#content{
	/*background-color: blue;*/
}

#footer,#footer a{
	background-color: #616161;
	/*height: 100px;*/
	margin: 10px 0px 0px 0px;
	color: white;
}

.pagination{
	margin-right: 15px;
}

/* ----------------------------------Thanh Phong ---------------------------------------------------------*/
body {
    padding-top: 500px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }
}

/* ----------------------------------vnthanh---------------------------------------------------------*/
/* ---------------------------------- Pruduct Detail: thumbnail slider ---------------------------------------------------------*/
/*Source: http://bootsnipp.com/snippets/featured/thumbnail-carousel*/
/*without JS interval effect*/

.carousel-control {
  padding-top:10%;
  width:5%;
}

/*--------Detail list-----------*/
/*color for testing only*/
#product_image{
    background-color: gray;
}

#bid_detail{
    background-color: blue;
}

#seller_buyer_detail{
    background-color: orange;
}

#product_detail{
    background-color: #4DB6AC;
}



/*------------vinh-------------*/
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}