


#header{
	/*background-color: red;*/
	margin-bottom: 10px;	
}

#content{
	/*background-color: blue;*/
}

#footer,#footer a{
	background-color: #616161;
	/*height: 100px;*/
	margin: 10px 0px 0px 0px;
	color: white;
}

.pagination{
	margin-right: 15px;
}

/* ----------------------------------Thanh Phong ---------------------------------------------------------*/
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

/* ----------------------------------vnthanh---------------------------------------------------------*/
/* ---------------------------------- Pruduct Detail: thumbnail slider ---------------------------------------------------------*/
/*Source: http://bootsnipp.com/snippets/featured/thumbnail-carousel*/
/*without JS interval effect*/

.carousel-control {
  padding-top:10%;
  width:5%;
}

/*--------Detail list-----------*/
/*color for testing only*/
#product_image{
    background-color: gray;
}

#bid_detail{
    background-color: blue;
}

#seller_buyer_detail{
    background-color: orange;
}

#product_detail{
    background-color: #4DB6AC;
}