<div class="container-fluid">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">All Categories</a></li>
			<li class="active">Fashion</li>
		</ol>
	</div>
	<div class="row" id="content">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="left_side_bar">
			<p class="lead">Shop By Categories</p>
			<div class="list-group" ng-repeat="cate in categories">
				<a href="#" class="list-group-item">{{cate.name}}</a>
			</div>
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" id="main_content">
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="col1" ng-repeat="product in products">
					<div class="thumbnail">

						<a href="#/products/{{getId(product)}}"><img class="image-product" src="{{product.image}}" alt=""></a>
						<div class="caption">
							<h3 class="pull-right">{{product.price | currency}}</h3>
							<h3>
								<a href="#/products/{{getId(product)}}">{{product.name}}</a>
							</h3>
							<p>{{product.summary}}</p><br />
						</div>
						<div class="ratings">
							<p class="pull-right">6 reviews</p>
							<p>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon glyphicon-star-empty"></span>
								<span class="glyphicon glyphicon-star-empty"></span>
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="row">
		<nav>
			<ul class="pagination pull-right">
				<li>
					<a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>
					<a href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="row" id="footer">
		<hr>
		<!-- Footer -->
		<footer class="footer-distributed">
			<div class="footer-left">

				<a href="#"><img src="images/logo2.png" class="img-responsive" width="150" height="30" /></a>

				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">Jingo &copy; 2015</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Nguyen Van Cu Street</span> Ho Chi Minh City, VietNam</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+1 555 123456</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">support@jingo.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					Start-up high-tech company in e-commerce and online auction. Founder: ttphong,vnthanh,ntvinh.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>
		</footer>
	</div>
</div>